* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	overflow: auto;
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
	background-color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: column nowrap;
	-moz-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	-o-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
}

a {
	text-decoration: none;
	outline: none;
	color: #fff;
}

a img {
	border: none;
}

p {
	line-height: 1.4;
}

/* Home page */
.home-page {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #01051a;
}

.page__intro {
	width: 100%;
	height: 100%;
	position: relative;
}

.rect {
	fill: none;
	stroke: black;
	stroke-width: 2px;
	transform-origin: 50% 50% 0;
	transition: all 25s linear;
}

.rect1 {
	opacity: 0.3;
	transform: translate3d(-50%, -50%, 0) rotate(-15deg) scale(1);
}

.animate .rect1 {
	opacity: 0.4;
	transform: translate3d(-50%, -50%, 0) rotate(-11deg) scale(1.2);
}

.rect2 {
	opacity: 0.5;
	transform: translate3d(-50%, -50%, 0) rotate(0deg) scale(1);
}

.animate .rect2 {
	transform: translate3d(-50%, -50%, 0) rotate(10deg) scale(1.2);
}

.rect8 {
	opacity: 0.5;
	transform: translate3d(-50%, -50%, 0) rotate(0deg) scale(1);
}

.animate .rect8 {
	transform: translate3d(-50%, -50%, 0) rotate(20deg) scale(1.2);
}

.rect3 {
	opacity: 0.6;
	transform: translate3d(-50%, -50%, 0) rotate(-75deg) scale(1);
}

.animate .rect3 {
	transform: translate3d(-50%, -50%, 0) rotate(-80deg) scale(1.5);
}

.rect4 {
	opacity: 0.8;
	transform: translate3d(-50%, -50%, 0) rotate(-60deg) scale(0.77);
}

.animate .rect4 {
	transform: translate3d(-50%, -50%, 0) rotate(-75deg) scale(1.34);
}

.rect5 {
	transform: translate3d(-50%, -50%, 0) rotate(-45deg) scale(0.77);
}

.animate .rect5 {
	transform: translate3d(-50%, -50%, 0) rotate(-75deg) scale(1.49);
}

.rect6 {
	transform: translate3d(-50%, -50%, 0) rotate(-60deg) scale(1);
}

.animate .rect6 {
	transform: translate3d(-50%, -50%, 0) rotate(-90deg) scale(2);
}

.rect7 {
	transform: translate3d(-50%, -50%, 0) rotate(-75deg) scale(1);
}

.animate .rect7 {
	transform: translate3d(-50%, -50%, 0) rotate(-125deg) scale(2.66);
}

.intro__boxes.no-transitions .rect {
	transition-duration: 0s;
}

.mask {
	fill: #01051a;
}

.intro__boxes {
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, rgb(65,105,225) 0%, rgb(141, 26, 193) 90%);
	opacity: 1;
	position: absolute;
	z-index: 1;
	perspective: 600px;
	transition: opacity 1s cubic-bezier(0.15, 0.005, 0.155, 1);
}

.intro__boxes.animate {
	opacity: 1;
}

.intro__boxes.fade-out {
	opacity: 0;
}

.intro__title {
	width: 100%;
	margin-top: 10em;
	color: #fff;
	text-align: center;
	position: absolute;
	z-index: 100;
}

.intro__button {
	margin-top: 2em;
	padding: 1.2em 2em 1em 2em;
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
	font-size: 1em;
	text-transform: uppercase;
	transition: all 0.7s ease-out;
	background: linear-gradient(to right, rgb(65,105,225), rgb(141, 26, 193));
	background-size: 300% 300%;
	border: none;
	cursor: pointer;
}

.intro__button:hover {
	background-position: 99% 50%;
}

/* Menu and recent projects */
header {
	height: 100%;
	margin-left: 80px;
}

/* Navbar for desktop */
/* https://codemyui.com/pure-css-slide-navigation-menu/ */
.menu {
	width: 180px;
	height: 100%;
	background-color: #072027;
	position: fixed;
	left: -100px;
	z-index: 1;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.menu:hover {
	-webkit-transform: translate3d(100px, 0, 0);
	-moz-transform: translate3d(100px, 0, 0);
	-ms-transform: translate3d(100px, 0, 0);
	-o-transform: translate3d(100px, 0, 0);
	transform: translate3d(100px, 0, 0);
}

.menu:hover .menu-title {
	display: none;
}

.menu-title {
	font-size: 1.5em;
	position: absolute;
	top: 50%;
	right: 8%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
}

.menu-nav {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 4em;
	display: none;
}

.menu:hover .menu-nav {
	display: block;
}

.menu-nav a {
	margin-top: 0.5em;
	padding: 1em 0;
	font-size: 0.9em;
	display: block;
}

.active {
	border-left: 3px solid #DED8DA;
}

.menu-nav a:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.menu-nav .projects__link {
	margin-top: 3em;
}

#burger, .burger-menu {
	display: none;
}

/* Recent projects */
.recent-projects {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.recent-projects ul, .recent-projects svg {
	display: none;
}

/* Nav around the recent projects */
.recent-projects ul {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: absolute;
}

.in-projects {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: inline-block;
}

.in-projects a {
	color: #000;
}

.in-projects a:hover {
	color: #4169E1;
}

.down-the-page {
	top: 4em;
	z-index: 10;
}

.down-the-page li:first-child {
	margin-left: 2em;
}

.down-the-page li:last-child {
	margin-right: 2em;
	float: right;
}

.current-projects {
	text-align: center;
	bottom: 2em;
	z-index: 10;
}

.current-projects li {
	margin: 0.2em;
}

.down-the-page li, .current-projects li {
	padding: 0.3em;
	background-color: rgba(255, 255, 255, 0.8);
}

.projects-active {
	color: rgba(0, 0, 255, 0.7);
}

.layer {
	position: absolute;
}

.one {
	width: 70%;
	height: 20em;
	margin: auto;
	background-color: rgba(176,196,222, 0.3);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.triangle {
	width: 135px;
	height: 135px;
}

.circle1 {
	width: 110px;
	height: 110px;
	margin: 0 1em 1.5em 3.5em;
	left: 0;
	bottom: 0;
}

.rectangle {
	width: 230px;
	height: 300px;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.circle2 {
	width: 140px;
	height: 140px;
	top: 0;
	right: 1.5em;
}

.line1 {
	width: 210px;
	height: 210px;
	right: 2em;
	bottom: 7em;
}

.line2 {
	width: 170px;
	height: 170px;
	right: 6em;
	bottom: 2em;
}

#triangle {
	fill: none;
	stroke: RoyalBlue;
	stroke-width: 5;
	stroke-dasharray: 900;
	stroke-dashoffset: 900;
	animation: draw 7s forwards linear;
}

#circle1 {
	fill: none;
	stroke: SteelBlue;
	stroke-width: 6;
	stroke-dasharray: 700;
	stroke-dashoffset: 700;
	animation: draw 7s forwards linear;
}

#rectangle {
	width: 200px;
	height: 270px;
	fill: none;
	stroke: MidnightBlue;
	stroke-width: 5;
	stroke-dasharray: 1300;
	stroke-dashoffset: 1300;
	animation: draw 5s forwards linear;
}

#circle2 {
	fill: none;
	stroke: CornFlowerBlue;
	stroke-width: 6;
	stroke-dasharray: 700;
	stroke-dashoffset: 700;
	animation: draw 7s forwards linear;
}

#line1, #line2 {
	stroke: DeepSkyBlue;
	stroke-width: 6;
	stroke-dasharray: 700;
	stroke-dashoffset: 700;
	animation: draw 8s forwards linear;
}

@keyframes draw {
	100% {
		stroke-dashoffset: 0;
	}
}

/* Main content */
main {
	margin-left: 100px;
}

.arrow-up {
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.1);
	display: none;
	position: fixed;
	bottom: 0.7em;
	right: 1.2em;
	z-index: 100;
}

/* Main projects */
#projects {
	margin: 3em 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
	-o-justify-content: space-around;
	justify-content: space-around;
}

.holder {
	width: 30%;
	margin-bottom: 2em;
	position: relative;
}

.holder img {
	width: 290px;
	margin: 0 auto;
	padding: 1em 0;
	display: block;
}

.project {
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.8);
	border: 3px solid #4169E1;
	position: absolute;
	bottom: 0;
	left: 0;
	box-shadow: 0 0 0 0.3em rgba(0, 0, 0, 0.8);
	display: none;
}

.holder:hover .project {
	display: block;
}

.project:before {
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	content: "";	
}

.project__name {
	font-size: 1em;
	font-weight: 400;
	display: inline-block;
	vertical-align: middle;
}

.project__name p:first-child {
	font-weight: bold;
}

.project__name p:nth-child(2) {
	padding: 1em;
	line-height: 1.5;
	border-top: 1px solid white;
}

/* Footer */
footer {
	width: 100%;
	background-color: #072027;
}

/* Description of myself */
#about-me {
	margin: 3em 5em 3em 100px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

#about-me img {
	width: 250px;
	margin-right: 1.7em;
	border-radius: 50%;
}

/* Tagline */
.tagline {
	margin: -2em 4em 3em 0;
	padding: 0 1em;
	text-align: right;
	font-size: 1.1em;
	font-weight: bold;
}

/* Contact Me form */
#mc_embed_signup {
	width: 300px;
	margin: 2em auto;
	text-align: center;
}

.email {
	width: 100%;
	height: 30px;
	margin: 1em 0;
	padding: 0.2em 0.5em;
	font-size: 1em;
}

#mc-embedded-subscribe {
	width: 100px;
	height: 30px;
	background-color: #fff;
	border: none;
}

footer p:last-child {
	text-align: center;
}

/* All pages except for index */
/* Title */
.page-title {
	width: 30em;
	height: 4.5em;
	padding-right: 2em;
	text-align: right;
	background-color: #072027;
	position: absolute;
	top: 1.5em;
	right: 0;
}

.pages-lines {
	width: 100px;
	position: absolute;
	right: 22em;
	z-index: 5;
}

.pages-lines-line1, .pages-lines-line2 {
	width: 40px;
	height: 130px;
}

#pages-lines-line1, #pages-lines-line2 {
	stroke: #fff;
	stroke-width: 4;
	stroke-dasharray: 700;
	stroke-dashoffset: 700;
	animation: draw 10s forwards linear;
}

/* Content */
.content {
	margin: 10em 0 3em 0;
	color: #000;
}

/* Side-Hustle projects */
.side-hustles {
	height: 170px;
	margin: 0 7em 1em 7em;
	padding: 1em;
	border: 1px solid #000;
	position: relative;
}

.side-hustles:hover {
	-webkit-transform: scale(1.01);
	-moz-transform: scale(1.01);
	-o-transform: scale(1.01);
	-ms-transform: scale(1.01);
	transform: scale(1.01);
}

.side-hustles a {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

.side-hustles img {
	width: 200px;
	margin-right: 1em;
	float: left;
}

/* Presentations */
.presentations {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
}

.presentations div {
	width: 50%;
}

.speaking-engagements {
	border-right: 3px solid #000;
}

.speaking-engagements ul {
	margin-top: 2em;
}

.speaking-engagements li {
	margin: 1em;
	line-height: 1.4;
}

.speaking-engagements a {
	color: #000;
}

.speaking-engagements a:hover {
	color: #191970;
}

.presentations h2, .performances p {
	text-align: center;
}

/* Design Process */
.design-process h2 {
	text-align: center;
}

.design-process p {
	margin: 1em 3em;
}

/* Writings */
.medium-articles {
	text-align: center;
}

.medium-articles h3 {
	padding: 0 1em;
}

.big-medium-icon {
	width: 128px;
	height: 128px;
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.big-medium-icon:after {
	width: 200%;
	height: 200%;
	content: "";
	opacity: 0;
	position: absolute;
	left: -230%;
	top: -20%;
	transform: rotate(-30deg);
	background: rgba(255, 255, 255, 0.13);
	background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.0) 100%);
}

.big-medium-icon:hover:after {
	opacity: 1;
	top: -50%;
	left: -50%;
	transition-duration: 1s, 1s, 0.5s;
	transition-property: left, top, opacity;
	transition-timing-function: ease;
}

.big-medium-icon:active:after {
	opacity: 0;
}

/* Recent projects */
.pages-lines__project {
	right: 25em;
}

.pages-lines-line3, .pages-lines-line4 {
	width: 40px;
	height: 150px;
}

#pages-lines-line3, #pages-lines-line4 {
	stroke: #fff;
	stroke-width: 4;
	stroke-dasharray: 700;
	stroke-dashoffset: 700;
	animation: draw 10s forwards linear;
}

.page-title__project {
	width: 33em;
	height: 7.5em;
}

.page-title__project h2 {
	padding: 0.3em 0;
}

.current-projects__project {
	margin: 12em 0 3em 0;
	text-align: center;
}

.current-projects__project a, .current-projects__project p {
	padding: 0 1em;
	color: #000;
}

@media (max-width: 1279px) {
	.holder img {
		width: 240px;
		padding: 0;
	}

	.side-hustles {
		margin: 0 5em 1em 5em;
	}
}

@media (max-width: 1024px) {
	.holder {
		width: 40%;
	}

	.holder img {
		padding: 1em 0;
	}

	.tagline {
		margin-top: 0;
	}

	.side-hustles {
		margin: 0 3em 1em 3em;
	}
}

@media (max-width: 800px) {
	header {
		margin-left: 0;
	}

	.menu {
		display: none;
	}

	/* Navbar for mobile */
	.burger-menu {
		width: 200px;
		height: 100%;
		background-color: #072027;
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 7;
	}

	/* hamburger button 
	https://codemyui.com/hamburger-menu-full-screen-navigation-menu-pure-css/ */
	body input + label {
		width: 35px;
		height: 35px;
		position: absolute;
		top: 20px;
		left: 20px;
		z-index: 10;
	}

	body input + label span {
		width: 100%;
		height: 2px;
		margin-top: -1px;
		background: #020304;
		display: block;
		position: absolute;
		top: 50%;
		left: 0;
		-webkit-transition: .5s;
		-moz-transition: .5s;
		-ms-transition: .5s;
		-o-transition: .5s;
		transition: .5s;
	}

	.white-span {
		background-color: #fff;
	}

	body input + label span:first-child {
		top: 4px;
	}

	body input + label span:last-child {
		top: 30px;
	}

	body label:hover {
		cursor: pointer;
	}

	body input:checked + label span {
		opacity: 0;
		top: 50%;
	}

	body input:checked + label span:first-child {
		opacity: 1;
		-webkit-transform: rotate(405deg);
		-moz-transform: rotate(405deg);
		-ms-transform: rotate(405deg);
		-o-transform: rotate(405deg);
		transform: rotate(405deg);
	}

	body input:checked + label span:last-child {
		opacity: 1;
		-webkit-transform: rotate(-405deg);
		-moz-transform: rotate(-405deg);
		-ms-transform: rotate(-405deg);
		-o-transform: rotate(-405deg);
		transform: rotate(-405deg);
	}

	.burger-nav {
		width: 100%;
		text-align: center;
		position: absolute;
		top: 5em;
		display: block;
	}

	.burger-nav a {
		padding: 1em 0;
		display: block;
	}

	.burger-nav a:active {
		background-color: rgba(255, 255, 255, 0.3);
	}

	.recent-projects {
		width: 100%;
	}
	
	.down-the-page {
		top: 5em;
	}

	.down-the-page li:first-child {
		margin-left: 7em;
	}

	.down-the-page li:last-child {
		margin-right: 7em;
	}

	.current-projects {
		bottom: 2em;
	}

	.current-projects li {
		margin: 0.2em 0.5;
	}

	.one {
		width: 80%;
	}

	main {
		margin-left: 0px;
	}

	#projects {
		margin: 0 0 2em 0;
	}

	.holder {
		width: 45%;
	}

	#about-me {
		-webkit-flex-flow: column nowrap;
		-moz-flex-flow: column nowrap;
		-ms-flex-flow: column nowrap;
		-o-flex-flow: column nowrap;
		flex-flow: column nowrap;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		-o-align-items: center;
		align-items: center;
	}

	#about-me p {
		margin-top: 2em;
	}

	.tagline {
		text-align: center;
		margin: 0 0 2em 0;
	}

	.side-hustles {
		margin: 0 1em 1em 1em;
	}

	.presentations {
		-webkit-flex-flow: column nowrap;
		-moz-flex-flow: column nowrap;
		-ms-flex-flow: column nowrap;
		-o-flex-flow: column nowrap;
		flex-flow: column nowrap;
	}

	.presentations div {
		width: 100%;
	}

	.speaking-engagements {
		border-right: none;
	}
}

@media (max-width: 600px) {
	.down-the-page li:first-child {
		margin-left: 3em;
	}

	.down-the-page li:last-child {
		margin-right: 3em;
	}

	.one {
		width: 90%;
	}

	.holder {
		width: 90%;
	}

	.holder img {
		width: 280px;
	}

	#about-me {
		margin: 3em 2em;
	}

	#about-me img {
		margin: 0;
	}

	.email {
		width: 90%;
		height: 30px;
		font-size: 1em;
	}

	.content {
		margin-top: 12em;
	}

	.pages-lines {
		top: 4em;
		left: 1em;
	}

	.pages-lines-line1, .pages-lines-line2 {
		width: 30px;
		height: 100px;
	}

	#pages-lines-line1, #pages-lines-line2 {
		stroke-width: 3;
	}

	.page-title {
		width: 100%;
		top: 5em;
	}

	.side-hustles {
		height: auto;
		text-align: center;
	}

	.side-hustles img {
		margin: 0;
		float: none;
	}

	.presentations ul {
		padding-left: 20px;
	}

	.design-process p {
		margin: 1em;
	}

	.pages-lines__project {
		left: 1em;
	}

	.pages-lines-line3, .pages-lines-line4 {
		width: 40px;
		height: 150px;
	}

	#pages-lines-line3, #pages-lines-line4 {
		stroke: #fff;
		stroke-width: 3;
		stroke-dasharray: 700;
		stroke-dashoffset: 700;
		animation: draw 10s forwards linear;
	}

	.page-title__project {
		width: 100%;
	}

	.current-projects__project {
		margin: 15em 0 3em 0;
	}
}